input, label{
  display: block;
}
.myBtn{
  background: none;
  border: 0;
  background-color: aquamarine;
  color: aliceblue;
  padding: 8px 16px ;
  border-radius:  5px;
  margin-left:5px ;
  margin-top: 3px;
}
